@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./login.css";

@layer base {
  body {
    @apply bg-ritual-black text-zinc-100;
  }
}

@layer utilities {
  .safe-pb {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
